# OpenAI API credentials for Text Summarizer
# This file is passed during deploy: deploy -e -f text_summarizer.wasm -p text_summarizer.widl -c config.yaml
OPENAI_API_KEY: "sk-your-openai-api-key-here"
